<%= stylesheet_link_tag 'login', :media => 'all' %>


<div class="container-fluid">
	<div class="row">
	    <div class="col-xs-12 cover-img" style="background-image:url('https://publicdomainq.net/images/201801/25s/publicdomainq-0018195xbz.jpg');">
		    <div class="cover-text text-right">
			    <p style="color: black; ">One <br> Place <br> Shopping</p>
			</div>
	    </div>
	</div>
	
	<div class="form" style="color: #5e5e5e;">
    	<div class="text-center" style="font-family: cursive;">
            <h1>Login</h1>
        </div>
    
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
    
                <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
                    
                    <div class="form-group mt-5 mb-5" >
                        <%= f.label :email, 'Email' %>
                        <%= f.email_field :email, class: 'form-control form-control-lg' %>
                    </div>
    
                    <div class="form-group  mb-5">
                        <%= f.label :password, 'Password' %>
                        <%= f.password_field :password, class: 'form-control form-control-lg' %>
                    </div>
    
                    <div class="form-button mb-5 col-form-label-lg" style="background: #f16272; border-radius: 10px; ">
                        <%= f.submit 'Login', class: 'btn btn-block',style: "font-size: 20px;" %>
                    </div>
                <% end %>
    
                <div class="mb-5" style="font-size: 20px;">
                    <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
                </div>
            </div>
        </div>
    </div>
</div>
	     
	        