<%= stylesheet_link_tag 'shopping_centers', :media => 'all' %>
<div class="container-fluid">
    <div class="row">
    	<div class="col-xs-12 cover-img" style="background-image:url('https://publicdomainq.net/images/201801/25s/publicdomainq-0018195xbz.jpg');">
    		<div class="cover-text text-right">
    			<p style="color: black; ">One <br> Place <br> Shopping</p>
    		</div>
    	</div>
    </div>
    
    <div>
        <div class="mt-5 text-center">
            <h1>～店舗情報～</h1>
        </div>
        <table class="table mb-5">
            <tr><td>店舗名</td><td><%= @shop.name %></td></tr>
         　 <tr><td>カテゴリー</td><td><%= @shop.category %></td></tr>
         　 <tr><td>住所</td><td><%= @shop.address %></td></tr>
            <tr><td>お問い合わせ</td><td><%= @shop.phone_number %></td></tr>
            <tr><td>営業時間</td><td><%= @shop.opening_hours %></td></tr>
            <tr><td>定休日</td><td><%= @shop.regular_holiday %></td></tr>
            <tr><td>フロア</td><td><%= @shop.floor %></td></tr>
            <tr><td>支払い方法</td><td><%= @shop.payment_method %></td></tr>
            
            
        </table>
    </div>
    