<%= stylesheet_link_tag 'signup', :media => 'all' %>


<div class="container-fluid">
	<div class="row">
	  <div class="col-xs-12 cover-img" style="background-image:url('https://publicdomainq.net/images/201801/25s/publicdomainq-0018195xbz.jpg');">
		  <div class="cover-text text-right">
			  <p style="color: black; ">One <br> Place <br> Shopping</p>
			</div>
	  </div>
	</div>
	
	<div class="form" style="color: #5e5e5e;">
    <div class="text-center" style="font-family: cursive;">
      <h1>Sign up</h1>
    </div>
    
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
    
        <%= form_with(model: @user, local: true) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          
          <div class="form-group">
            <%= f.label :name, 'Name' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
    
          <div class="form-group">
            <%= f.label :email, 'Email' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
    
          <div class="form-group">
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
    
          <div class="form-group">
            <%= f.label :password_confirmation, 'Confirmation' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          　
          <div class="form-button mb-5" style="background: #f16272;">
            <button type="button" class="btn btn-block ">SignUp</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  
