<%= stylesheet_link_tag 'shopping_centers', :media => 'all' %>
<div class="container-fluid">
    <div class="row">
    	<div class="col-xs-12 cover-img" style="background-image:url('https://publicdomainq.net/images/201801/25s/publicdomainq-0018195xbz.jpg');">
    		<div class="cover-text text-right">
    			<p style="color: black; ">One <br> Place <br> Shopping</p>
    		</div>
    	</div>
    </div>
        
    <div> 
        <div class="mt-5 text-center">
            <h1>～検索ページ～</h1>
            <div class="mt-5 mb-5">
                <h2>あなたの行きたい店リスト</h2>
            </div>
        </div>
        
        <div class="search_form">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
                <%= f.label :name, '１.' %>
                <%= f.text_field :name1 %>
                <%= f.label :name, '２.' %>
                <%= f.text_field :name2 %>
                <%= f.label :name, '３.' %>
                <%= f.text_field :name3 %>
            <% end %>
        </div>
        
    </div>
    
    <div>
        <div class="mt-5 mb-5 text-center">
            <h1>～ショッピングモール情報～</h1>
        </div>
        <div class="mb-7 text-center">
            <table class="table">
                <thead>
                    <tr><th style="font-size: 30px;">ショッピングモール名</th></tr>
                </thead>
              
                
                <tbody>
                    <% @results.each do |shopping_center| %>
                        <tr><td style="font-size: 20px;"><%= link_to shopping_center.name, shopping_center_path(shopping_center) %></td></tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>