<%= stylesheet_link_tag 'shopping_centers', :media => 'all' %>
<div class="container-fluid">
    <div class="row">
    	<div class="col-xs-12 cover-img" style="background-image:url('https://publicdomainq.net/images/201801/25s/publicdomainq-0018195xbz.jpg');">
    		<div class="cover-text text-right">
    			<p style="color: black; ">One <br> Place <br> Shopping</p>
    		</div>
    	</div>
    </div>
        
    <div> 
        <div class="mt-5 text-center">
            <h1>～検索ページ～</h1>
            <div class="mt-5 mb-5">
                <h2>あなたの行きたい店リスト</h2>
            </div>
        </div>
        <%= search_form_for @q, url: search_shopping_centers_path do |f| %>
            <div class="form-group">
                <%= f.label :shops_name_cont, '１' %>
                <%= f.search_field :shops_name_cont %>
            </div>
            <div class="form-group">
                <%= f.label :shops_name_cont, '２' %>
                <%= f.search_field :shops_name_cont %>
            </div>
            <div class="form-group">
                <%= f.label :shops_name_cont, '３' %>
                <%= f.search_field :shops_name_cont %>
            </div>
            
            <br>
            <div class="form-button mt-3  col-form-label" style="background: #f16272; border-radius: 10px; ">
                <%= f.submit '検索', class: 'btn ',style: "font-size: 20px;" %>
            </div>
        <% end %>
    </div>
    
    <div>
        <div class="mt-5 text-center">
            <h1>～ショッピングモール情報～</h1>
        </div>
        <table class="table mb-5">
            <thead><tr><th>ショッピングモール名</th></tr></thead>
            <tbody>
                <% @results.each do |shopping_center| %>
                    <td><%= link_to shopping_center.name, shopping_center_path(shopping_center) %></td>
                <% end %>
            </tbody>
        </table>
    </div>
</div>